
.justify{
    text-align: justify;
}
.pirmansyah{
    color:#74c0fc;
}

@media only screen and (max-width: 600px) {
    .responsive {
        font-size: small;
    }
    p{
        font-size: small;
    }
    li{
        font-size: small;
    }
}